<template>
    <div>
        <button class="trigger-custom btn  btn-flat bordered-button button-transparent "
                @click="donorAdditionDialogVisible = true"><i
                class="fa fa-plus"></i> Add Donor
        </button>
        <el-dialog v-show="donorAdditionDialogVisible" title="Add Donor" :visible.sync="donorAdditionDialogVisible">

            <fieldset style="padding: 10px; margin-bottom: 40px">
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="donor_first_name">First Name</label>
                        <input v-model="donor.first_name" type="text" class="form-control"
                               id="donor_first_name"
                               required>
                    </div>
                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="donor_last_name">Last Name</label>
                        <input v-model="donor.last_name" type="text" class="form-control"
                               id="donor_last_name"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="donor_email">Email</label>
                        <input v-model="donor.email" type="email" class="form-control"
                               id="donor_email"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="donor_phone">Phone</label>
                        <input v-model="donor.phone" type="text" class="form-control"
                               id="donor_phone"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="donor_blood_group">Blood Group</label>
                        <input v-model="donor.blood_group" type="text" class="form-control"
                               id="donor_blood_group"
                               required>
                    </div>
                </div>
            </fieldset>

            <span slot="footer" class="dialog-footer">
                <el-button @click="donorAdditionDialogVisible = false">Cancel</el-button>
                <el-button type="primary" @click="addDonor">Submit</el-button>
            </span>
        </el-dialog>

</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                donorAdditionDialogVisible:false,
                donor: {
                    'first_name': '',
                    'last_name': '',
                    'email': '',
                    'phone': '',
                    'blood_group': '',
                },
            }
        },
        created() {

        },

        props: [
            'addDonorsRoute'
        ],
        methods: {
            
            addDonor: function () {
               var _this=this;
                this.setLoading('on');
                for (var key in this.donor) {
                    if (this.donor.hasOwnProperty(key)) {
                        if (this.donor[key] == '') {
//                            $('#donor_' + key).addClass('dirty');
                            this.setLoading('off');
                            toastr.error('Please fill all the mandatory fields');
                            return;
                        }
                    }
                }
                axios.post(this.addDonorsRoute, this.donor).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status=='success'){
                        toastr.info('User successfully added');
                        _this.donor={
                            'first_name': '',
                            'last_name': '',
                            'email': '',
                            'phone': '',
                            'blood_group': '',

                        };
                    }
                }).catch(function (error) {
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })



            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
