<template>
    <div>

            <fieldset style="padding: 30px; margin-bottom: 40px">
                <div class="row">
                <div class="form-group required col-sm-12 col-md-12">
                    <label class="control-label" for="donation_center_name">Name</label>
                    <input v-model="donation_center.name" type="text" class="form-control"
                           id="donation_center_name"
                           required>
                </div>
                </div>
                <div class="row">
                <div class="form-group required col-sm-12 col-md-12 ">
                    <label class="control-label" for="donation_center_description">Description</label>
                    <textarea  required v-model="donation_center.description" class="form-control" id="donation_center_description"

                              ></textarea>
                </div>
                </div>
                <div class="row">
                    <div class="form-group required  col-md-6">
                        <label class="control-label" for="donation_center_email">Email</label>
                        <input v-model="donation_center.email" type="text" class="form-control"
                               id="donation_center_email"
                               required>
                    </div>
                    <div class="form-group required col-md-6">
                        <label class="control-label" for="donation_center_phone">Phone</label>
                        <input v-model="donation_center.phone" type="text" class="form-control"
                               id="donation_center_phone"
                               required>
                    </div>
                </div>

                <div class="row">

                <div class="form-group required col-sm-12 col-md-12 ">
                    <label class="control-label" for="donation_center_address">Physical Address</label>
                    <textarea  required v-model="donation_center.physical_address" class="form-control" id="donation_center_address"

                    ></textarea>
                </div>
                </div>

                <div id="reverse_geolocation" style="text-align: center" class="form-group col-sm-12 col-md-12 ">

                    <input style="width:30%;" v-model="donation_center.lat" type="text" class="form-control center-block" id="donation_center_lat"  value="" placeholder="Latitude">
                    <input style="width:30%;" v-model="donation_center.lng" type="text" class="form-control center-block" id="donation_center_lng" value="" placeholder="Longitude">

                    <button  @click="panToLocation()"  style="width:30%;" class=" btn btn-flat btn-info center-block">Drop Pin</button>
                </div>
                <div style="margin-top:20px; margin-left: 15px;overflow-x: scroll;">
                    <div class="form-group required">
                        <label class="control-label" for="donation_center_location">Location (Drag Pin or enter coordinates)</label>
                    </div>



                    <gmap-map ref="donation_center_location_map"
                            :center="{lat: lat, lng: lng}"
                            :zoom="zoom"
                            style="width: 970px; height: 500px"
                    >
                        <gmap-marker
                                @dragend="adjustLatLng"
                                :position="{'lat':lat, 'lng':lng}"
                                :draggable="true",
                                :enabled="true",
                                >
                        </gmap-marker>

                    </gmap-map>


                </div>



            </fieldset>
    <div class="row " style="text-align: center; margin-bottom: 50px;">
        <button class="btn btn-flat button-green" @click="addDonationCenter" style="width: 40%">Save</button>
    </div>
</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                errorMsg: null,
                count: 0,

                lat:0.5849684008701682,
                lng:38.078613283749974,
                donation_center: {
                    'name': '',
                    'email': '',
                    'phone': '',
                    'description': '',
                    'physical_address': '',
                    'lat':0.5849684008701682,
                    'lng':38.078613283749974

                },
                zoom:6,

            }
        },
        created() {

        },

        props: [
            'addDonationCenterRoute'
        ],
        methods: {

           adjustLatLng:function (location) {

             this.donation_center.lat=location.latLng.lat();
             this.donation_center.lng=location.latLng.lng();
             this.lat=location.latLng.lat();
             this.lng=location.latLng.lng();
           },
           panToLocation:function () {
               if(this.donation_center.lat==''||this.donation_center.lng==''){
                   toastr.error("Please enter valid Coordinates");
               }
               else{
                   this.lat=parseFloat(this.donation_center.lat);
                   this.lng=parseFloat(this.donation_center.lng);
                   this.zoom=10;

               }

           },
            addDonationCenter: function () {
               var _this=this;
                this.setLoading('on');
                for (var key in this.donation_center) {
                    if (this.donation_center.hasOwnProperty(key)) {
                        if (this.donation_center[key] == '') {
//                            $('#donation_center_' + key).addClass('dirty');
                            this.setLoading('off');
                            toastr.error('Please fill all the mandatory fields');
                            return;
                        }
                    }
                }
                axios.post(this.addDonationCenterRoute, this.donation_center).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status=='success'){
                        toastr.info('Donation Center successfully added');
                        _this.donation_center={
                            'name': '',
                            'description': '',
                            'physical_address': '',
                            'lat':'',
                            'lng':''

                        };
                    }
                }).catch(function (error) {
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })



            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
