<template>
    <div>


            <fieldset style="padding: 10px 40px; margin-bottom: 40px">
                <div class="row">
                    <div class="form-group required col-sm-12">
                        <label class="control-label" for="partner_name">Name</label>
                        <input v-model="partner.name" type="text" class="form-control"
                               id="partner_name"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12">
                        <label class="control-label" for="partner_description">Description</label>
                        <textarea v-model="partner.description"  class="form-control"
                               id="partner_description"
                                  required></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="partner_reg_cert">Registration Certificate Number</label>
                        <input v-model="partner.company_reg_cert_number" type="text" class="form-control"
                               id="partner_reg_cert"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="partner_email">Company Email</label>
                        <input v-model="partner.company_email" type="email" class="form-control"
                               id="partner_email"
                               required>
                    </div>

                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="partner_phone">Company Phone</label>
                        <input v-model="partner.phone" type="text" class="form-control"
                               id="partner_phone"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="partner_website">Company Website</label>
                        <input v-model="partner.company_website" type="text" class="form-control"
                               id="partner_website"
                               required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="partner_physical_address">Physical Address</label>
                        <textarea v-model="partner.physical_address"  class="form-control"
                                  id="partner_physical_address"
                                  required></textarea>
                    </div>

                    <div class="form-group required col-sm-12 col-md-6">
                        <label class="control-label" for="partner_postal_address">Postal Address</label>
                        <textarea v-model="partner.postal_address"  class="form-control"
                                  id="partner_postal_address"
                                  required></textarea>
                    </div>
                </div>

                <div class="row " style="text-align: center; margin-bottom: 50px;">
                    <button class="btn btn-flat button-green" @click="addPartner" style="width: 40%">Save</button>
                </div>

            </fieldset>




</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                partnerAdditionDialogVisible:false,
                partner: {
                    'name': '',
                    'description': '',
                    'company_reg_cert_number': '',
                    'phone': '',
                    'company_email': '',
                    'company_website': '',
                    'postal_address': '',
                    'physical_address': '',

                },
            }
        },
        created() {

        },

        props: [
            'addPartnersRoute'
        ],
        methods: {
            
            addPartner: function () {
               var _this=this;
                this.setLoading('on');
                console.log(this.addPartnersRoute);
                axios.post(this.addPartnersRoute, this.partner).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status=='success'){
                        toastr.info('User successfully added');
                        _this.partner={
                            'name': '',
                            'description': '',
                            'company_reg_cert_number': '',
                            'phone': '',
                            'company_email': '',
                            'company_website': '',
                            'postal_address': '',
                            'physical_address': '',

                        };
                    }
                }).catch(function (error) {
                    console.log(error)
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })



            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
