<template>
    <div>
        <form-wizard   title="Add A Survey"
                       subtitle="Please Fill in the fields Below" @on-loading="setLoading"
                       @on-validate="handleValidation" error-color="#dd4b39"
                       @on-error="handleErrorMessage" ref="surveyWizard" shape="square" color="#F44336">
            <tab-content title="Survey Details" icon="fa fa-pencil-square-o " :before-change="saveSurveyDetails"
                         ref="surveyForm">
                <fieldset style="padding: 10px; margin-bottom: 40px">

                    <div class="form-group required col-sm-12">
                        <label class="control-label" for="survey_name">Title</label>
                        <input v-model="survey.title" type="text" class="form-control"
                               id="survey_name" name="survey_name"
                               required>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 ">
                        <label class="control-label" for="survey_description">Description</label>
                        <textarea  required v-model="survey.description" class="form-control" id="survey_description"
                                   name="survey_description"
                        ></textarea>
                    </div>
                    <div class="form-group col-sm-12 col-md-6 ">
                        <label class="control-label" for="survey_welcome_message">Welcome Message</label>
                        <textarea  required v-model="survey.welcome_message" class="form-control" id="survey_welcome_message"
                                   name="survey_description"
                        ></textarea>
                    </div>
                    <div class="form-group col-sm-12 col-md-6 ">
                        <label class="control-label" for="survey_end_description">End Message</label>
                        <textarea  required v-model="survey.end_message" class="form-control" id="survey_end_description"
                                   name="survey_end_description"
                        ></textarea>
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label class="control-label" for="survey_status">Status</label>
                        <br>
                        <el-switch style="margin-top: 10px;"
                                v-model="survey.status"
                                active-text="Active"
                                inactive-text="Inactive">
                        </el-switch>
                    </div>
                    <div data-toggle="tooltip" data-placement="top" title="Double click a date for same day surveys"
                         class="form-group col-sm-12 required col-md-6" id="survey_dates">
                        <label class="control-label " for="survey_start_date">Date(s)</label><br/>
                        <el-date-picker   style="width:100%"
                                          v-model="survey.dates"
                                          range-separator="To"
                                          type="daterange"
                                          placeholder="Pick a range">
                        </el-date-picker>

                    </div>
                </fieldset>

            </tab-content>
            <tab-content title="Survey Question Groups" icon="fa fa-object-group " :before-change="saveQuestionGroups"
                         ref="groupForm">
                <fieldset style="padding: 10px 15px; margin:5px 20px 40px 20px; border: 2px solid #dddddd;border-radius: 4px;">
                    <div class="">
                        <div class="table-responsive" style="max-height:110px; overflow-y: scroll ">
                            <table class="table table-hover" style="margin: 10px;width: 99%;">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th style="text-align:center;">Action</th>
                                </tr>
                                </thead>
                                <tbody id="attendeesTable">
                                <tr v-for="(group, index) in questionGroups">
                                    <td>{{group.title}}</td>
                                    <td>{{group.description}}</td>
                                    <td style="text-align:center;">
                                        <a @click="questionGroups.splice(index, 1)" style="color: dodgerblue;"href="javascript:;">
                                            <i class="ti-trash"></i>
                                        </a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </fieldset>
                <fieldset style="padding: 10px; margin-bottom: 40px">
                    <p>Fill in the form and click 'Add' to add to Table</p>
                    <div class="form-group required col-sm-12">
                        <label class="control-label" for="question_group_title">Title</label>
                        <input v-model="questionGroup.title" type="text" class="form-control"
                               id="question_group_title" name="question_group_title"
                               required>
                    </div>

                    <div class="form-group col-sm-12 col-md-12 ">
                        <label class="control-label" for="question_group_description">Description</label>
                        <textarea  required v-model="questionGroup.description" class="form-control" id="question_group_description"
                                   name="question_group_description"
                        ></textarea>
                    </div>
                    <div class="row " style="text-align: center">
                        <button @click="addQuestionGroupToTable()" style="margin-top: 20px;" class="btn btn-flat action-button">Add
                        </button>
                    </div>

                </fieldset>

            </tab-content>
            <tab-content title="Survey Questions" icon="fa fa-question " :before-change="saveSurveyQuestions"
                         ref="questionsForm">
                <fieldset style="padding: 10px; margin-bottom: 40px">

                    <div class="form-group col-sm-12 col-md-12 ">
                        <label class="control-label" for="question_group">Question Group</label>
                        <select  required v-model="question.group" class="form-control" id="question_group"
                                   name="question_group">
                            <option v-for="group in questionGroups" :value="group.id">{{group.title}}</option>
                        </select>
                    </div>
                    <div class="form-group required col-sm-12">
                        <label class="control-label" >Question</label>
                        <wysiwyg v-model="question.question" />
                    </div>
                    <div class="form-group col-sm-12 col-md-12 ">
                        <label class="control-label" for="question_type">Question Group</label>
                        <select  required v-model="question.type" class="form-control" id="question_type"
                                 name="question_type">
                            <optgroup label="Single choice questions">
                                <option value=""> 5 point choice</option>
                                <option value=""> List (dropdown)</option>
                                <option value=""> List (radio)</option>
                                <option value=""> List with comment</option>
                            </optgroup>
                            <optgroup label="Arrays">
                                <option value="">List with comment</option>
                                <option value="">Array (10 point choice)</option>
                                <option value="">Array (5 point choice)</option>
                                <option value="">Array (Increase/Same/Decrease)</option>
                                <option value="">Array (Numbers)</option>
                                <option value="">Array (Texts)</option>
                                <option value="">Array (Yes/No/Uncertain)</option>
                                <option value="">Array by column</option>
                                <option value="">Array by column</option>
                                <option value="">Array dual scale</option>
                            </optgroup>
                            <optgroup label="Mask Questions">
                                <option value="">Date/Time</option>
                                <option value="">Equation</option>
                                <option value="">File upload</option>
                                <option value="">Gender</option>
                                <option value="">Language switch</option>
                                <option value="">Multiple numerical input</option>
                                <option value="">Numerical input</option>
                                <option value="">Ranking</option>
                                <option value="">Text display</option>
                                <option value="">Yes/No</option>
                            </optgroup>
                            <optgroup label="Text questions">
                                <option value="">Huge free text</option>
                                <option value="">Long free text</option>
                                <option value="">Multiple short text</option>
                                <option value="">Short free text</option>
                            </optgroup>
                            <optgroup label="Multiple choice questions">
                                <option value="">Multiple choice</option>
                                <option value="">Multiple choice with comments</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="form-group col-sm-12 col-md-6">
                        <label class="control-label" for="question_status">Mandatory</label>
                        <br>
                        <el-switch style="margin-top: 10px;"
                                   v-model="question.mandatory"
                                   active-text="Yes"
                                   inactive-text="No">
                        </el-switch>
                    </div>
                </fieldset>

            </tab-content>

        </form-wizard>
    </div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                survey:{
                    'title':'',
                    'description':'',
                    'welcome_message':'',
                    'end_message':'',
                    'active':'',
                    'dates':'',
                },
                questionGroups:[],
                questionGroup:{
                  'title':'',
                  'description':'',
                },
                questions:[],
                question:{
                  'code':'',
                  'question':'',
                  'type':'',
                  'mandatory':'',
                },
                surveyId:''
            }
        },
        created() {

        },

        props: [
            'allSurveys', 'addSurveyRoute'
        ],
        methods: {
            addQuestionGroupToTable(){
                this.questionGroups.push(this.questionGroup);
                toastr.info('Question has been added to table');
                this.questionGroup = {
                    'title':'',
                    'description':'',
                };
            },

            saveSurveyDetails: function () {
                return new Promise((resolve, reject) => {
                    this.setLoading('on');
                    var _this = this;
                    axios.post(this.addSurveyRoute, this.survey).then(function (response) {
                        _this.setLoading('off');
                        if (response.data.status == 'success') {
                            toastr.info('Survey successfully added');
                                resolve(true);
                        }
                    }).catch(function (error) {
                        console.log(error);
                        _this.setLoading('off');
                        reject("Oops! Something went wrong. Please try again");
                    })
                });

            },
            saveQuestionGroups: function () {
                return true;

//                this.setLoading('on');
//                var _this=this;
//                axios.post(this.addSurveyRoute, this.survey).then(function (response) {
//                    _this.setLoading('off');
//                    console.dir(reponse.data);
//                    if (response.data.status=='success'){
//                        toastr.info('Survey successfully added');
//                    }
//                }).catch(function (error) {
//                    _this.setLoading('off');
//                    toastr.error("Oops! Something went wrong. Please try again");
//                })

            },saveSurveyQuestions: function () {
                this.setLoading('on');
                var _this=this;
                axios.post(this.addSurveyRoute, this.survey).then(function (response) {
//                    _this.setLoading('off');
                    console.dir(reponse.data);
                    if (response.data.status=='success'){
                        toastr.info('Survey successfully added');
                    }
                }).catch(function (error) {
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })

            },
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },
            handleValidation: function (isValid, tabIndex) {
                console.log('Tab: ' + tabIndex + ' valid: ' + isValid)
            },
            handleErrorMessage: function (errorMsg) {
                if (errorMsg) {
                    toastr.error(errorMsg);
                }

            }

        },

        mounted() {
        },
    }
</script>
