<template>
    <div>
        <!--<button class="trigger-custom btn  btn-flat bordered-button button-transparent "-->
                <!--@click="donorAdditionDialogVisible = true"><i-->
                <!--class="fa fa-plus"></i> Add Donor-->
        <!--</button>-->
        <div>
            <i class="fa fa-close" v-if="showAddContentDialog==true" @click="showAddContentDialog=false" style="position: absolute; right: 15px; margin-top: 5px;cursor: pointer"></i>
            <div v-if="showAddContentDialog==false" class="well" @click="showAddContentDialog=true" style="cursor: pointer; text-align: center">
                <div  class="" style="margin: auto"><img style="width: 40px" src="/igbds/icons/icon-plus.png"/> </div>
            </div>

            <vue-dropzone v-if="showAddContentDialog==true" ref="myVueDropzone" id="dropzone" :options="dropzoneOptions">
            </vue-dropzone>
        </div>


            <lazy-component @show="handler">
               <div class="row">
                   <div class="col-sm-3" v-for="material in advocacyMaterial" :key="material.id">
                       <el-card  :body-style="{ padding: '0px', height:'310px' }" >
                           <img  class="mini-cover thumbnail" :src="material.preview_url" width="100%" height="200px">
                           <div style="padding: 14px;">
                               <a style="color: #0a568c!important;" target="_blank" v-bind:href="material.attachment_url"><span>{{material.name}}</span></a>
                               <div class="bottom clearfix">
                                   <time class="time">{{material.created_at}} </time>
                               </div>
                           </div>
                       </el-card>
                   </div>
               </div>
            </lazy-component>



</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'
    export default {
        components: {
            vueDropzone: vue2Dropzone
        },
        data(){
            return {
                donorAdditionDialogVisible:false,
                donor: {
                    'first_name': '',
                    'last_name': '',
                    'email': '',
                    'phone': '',
                    'blood_group': '',
                },
                showAddContentDialog:false,
                dropzoneOptions: {
                    url: this.advocacyContentRoute,
                    thumbnailWidth: 150,
                    maxFilesize: 10,
                    headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content },
                    acceptedFiles:'image/*, application/pdf'
                }
            }
        },
        created() {

        },

        props: [
            'advocacyContentRoute', 'advocacyMaterial'
        ],
        methods: {
            handler:function () {

            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
