<template>
    <div>
        <gmap-map ref="donation_center_location_map"
                  :center="{lat: 0.5849684008701682, lng: 38.078613283749974}"
                  :zoom="6"
                  style="width: 1050px; height: 500px"
        >
            <gmap-info-window  :options="infoOptions" :position="infoWindowPos" :opened="infoWinOpen" @closeclick="infoWinOpen=false">
                <h5>{{infoHeader}}</h5>
                <span style="cursor:pointer; color: #0a568c" @click="showDetails( infoContentType,infoContentId)">{{infoContent}}</span>
            </gmap-info-window>

            <gmap-marker v-if="donationCenterMarkers"
                    :position="marker.position"
                         :icon="'/igbds/icons/donation-center-marker.png'"
                    :enabled="true" ,
                    :clickable="true"
                         primaryColor="#0000FF"
                    @click="toggleInfoWindow(marker,marker.id)"
                    v-for="marker in donationCenterMarkers"
                    :key="marker.id+'-donationCenterMarker'">
            </gmap-marker>
            <gmap-marker v-if="donorMarkers"
                    :icon="'/igbds/icons/person-marker.png'"
                    :position="marker.position"
                    :enabled="true" ,
                    :clickable="true"
                         @click="toggleInfoWindow(marker,marker.id)"
                    v-for="marker in donorMarkers"
                    :key="marker.markerId+'-donorMarker'">
            </gmap-marker>

        </gmap-map>
    </div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                donationCenterMarkers: [],
                donorMarkers:[],
                infoContent: '',
                infoWindowPos: {
                    lat: 0,
                    lng: 0
                },
                infoWinOpen: false,
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35
                    }
                },
                infoContentType:'',
                infoContentId:'',
                infoHeader:'',
                currentMidx: null,
            }
        },
        created() {
            this.populateDonationCenters();
            this.populateDonorLocations();
            var _this=this;
            window.Echo.channel('donorLocations')
                .listen('DonorLocationUpdated', (e) => {
                    for(var i=0; i<this.donorMarkers.length; i++){
                        if(this.donorMarkers[i].user_id==e.location.user_id){
                            Vue.set(this.donorMarkers[i], 'position',{lat: e.location.lat, lng:e.location.lng});
                        }
                    }
                });
        },

        props: [
            'donationCentersRoute', 'donationCenters', 'donorLocations', 'donorLocationsUrl', 'donationCentersUrl'
        ],
        methods: {
            toggleInfoWindow: function(marker, idx) {

                this.infoWindowPos = marker.position;
                this.infoHeader=marker.infoHeader;
                this.infoContent = marker.infoText;
                this.infoContentType=marker.type;
                this.infoContentId=marker.id;

                //check if its the same marker that was selected if yes toggle
                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                //if different marker set infowindow to open and reset current marker index
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;

                }
            },
            showDetails:function (type, id) {
                if(type=='donationCenterLocation'){
                    window.location.href=this.donationCentersUrl+'/view/'+id;
                }
                else if(type=='donorLocation'){
                    window.location.href=this.donorLocationsUrl+'/view/'+id;
                }
            },
            populateDonationCenters: function() {
                var _this=this;
                this.setLoading('on');
                for(var i=0; i<this.donationCenters.length; i++){
                    _this.donationCenterMarkers.push({
                        position: {
                            lat: this.donationCenters[i].donation_center_location.lat,
                            lng: this.donationCenters[i].donation_center_location.lng
                        },
                        opacity: 1,
                        type:'donationCenterLocation',
                        id:this.donationCenters[i].id,
                        enabled: true,
                        ifw: true,
                        infoHeader:'Donation Center Details',
                        infoText: 'Name: '+this.donationCenters[i].name
                    });
                }
                this.setLoading('off');

            },
            populateDonorLocations: function() {
                var _this=this;
                this.setLoading('on');
                for(var j=0; j<this.donorLocations.length; j++){
                    _this.donorMarkers.push({
                        markerId:j,
                        position: {
                            lat: this.donorLocations[j].lat,
                            lng: this.donorLocations[j].lng
                        },
                        opacity: 1,
                        enabled: true,
                        user_id: this.donorLocations[j].user.id,
                        type:'donorLocation',
                        id:this.donorLocations[j].user_id,
                        infoHeader:'Donor Details',
                        infoText: this.donorLocations[j].user.first_name+ ' '+
                        this.donorLocations[j].user.last_name+
                        ' ('+this.donorLocations[j].user.phone+')'
                    });
                }
                this.setLoading('off');

            },
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
