<template>
    <div>
        <highcharts  :options="options" ref="highcharts"></highcharts>
    </div>
</template>

<script>
    import axios from 'axios';
    import toastr from 'toastr';
    import Highcharts from 'highcharts';
    import highchartsMore from 'highcharts/highcharts-more';
    import solidGauge from 'highcharts/modules/solid-gauge';
    highchartsMore(Highcharts);
    solidGauge(Highcharts);
    export default {
        data(){
            return {
                options:{
                    chart: {
                        type: 'solidgauge'
                    },

                    title: null,

                    pane: {
                        center: ['50%', '30%'],
                        size: '50%',
                        startAngle: -180,
                        endAngle: 180,
                        background: {
                            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                            innerRadius: '60%',
                            outerRadius: '100%',
                            shape: 'arc'
                        }
                    },

                    tooltip: {
                        enabled: false
                    },

                    // the value axis
                    yAxis: {
                        stops: [
                            [0.1, '#DF5353'], // green
                            [0.5, '#DDDF0D'], // yellow
                            [0.9, '#55BF3B'] // red
                        ],
                        lineWidth: 0,
                        minorTickInterval: null,
                        tickAmount: 2,
                        title: {
                            y: -120
                        },
                        labels: {
                            enabled:false,
                            y: 6
                        },
                        min: 0,
                        max: this.bloodDonations.length,

                    },

                    plotOptions: {
                        solidgauge: {
                            dataLabels: {
                                y: -25,
                                borderWidth: 0,
                                useHTML: true
                            }
                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: []
                }
            }
        },
        created() {

        },

        props: [
            'bloodDonations', 'disbursedDonations'
        ],
        methods: {
            addSeries:function () {
                var totalPending=parseInt(this.bloodDonations.length)-parseInt(this.disbursedDonations);

                this.$refs.highcharts.chart.addSeries({
                    name: 'Disbursement',
                    data: [totalPending],
                    dataLabels: {
                        format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        '<span style="font-size:12px;color:silver">Pending</span></div>'
                    },
                    tooltip: {
                        valueSuffix: 'Donations'
                    }
                });
            }
        },

        mounted() {
            this.addSeries()

        },
    }
</script>
