<template>
    <div>
        <highcharts :options="options" ref="donationHistoryChart"></highcharts>
    </div>
</template>

<script>
    import axios from 'axios';
    import toastr from 'toastr';
    import Highcharts from 'highcharts'
    export default {
        data(){
            return {
                options:{
                    title: {
                        text: 'Donation History'
                    },

                    subtitle: {
                        text: "History of the  donations"
                    },

                    yAxis: {
                        title: {
                            text: 'Number of Donations'
                        },
                    },
                    xAxis      : {
                        min: Date.UTC(2018, 0, 0),
                        max: Date.UTC(2018, 11, 1),
                        allowDecimals: false,
                        type: 'datetime',
                        tickInterval: 24 * 3600 * 1000 * 30, //one day
                        labels: {
                            rotation: 0
                        },
                    },

                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },

                    plotOptions: {
                        series: {
                            label: {
                                connectorAllowed: false
                            },
                            pointInterval   : 24 * 3600 * 1000*30
                        }
                    },

                    series: [],

                    responsive: {
                        rules: [{
                            condition: {
                                maxWidth: 500
                            },
                            chartOptions: {
                                legend: {
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'bottom'
                                }
                            }
                        }]
                    }
                }
            }
        },
        created() {

        },

        props: [
            'donationHistory'
        ],
        methods: {
            addSeries:function () {
                var month = new Array();
                month[1] = "January";
                month[2] = "February";
                month[3] = "March";
                month[4] = "April";
                month[5] = "May";
                month[6] = "June";
                month[7] = "July";
                month[8] = "August";
                month[9] = "September";
                month[10] = "October";
                month[11] = "November";
                month[12] = "December";
                var donations=[];
                for(var i=0; i<this.donationHistory.length; i++){
                    donations.push({x:month[this.donationHistory[i].month],y:this.donationHistory[i].total});
                }
                console.log(donations);
                this.$refs.donationHistoryChart.chart.addSeries({
                    name: 'Donations',
                    data: [donations]
                });
            }
        },

        mounted() {
            this.addSeries()
        },
    }
</script>
