<template>
    <div>
        <table class="table table-responsive" style="width: 100%; font-size: 14px;" id="surveys-datatable">
            <thead>
            <tr>
                <th >Id</th>
                <th>Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Is Active</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="survey in allSurveys">
                    <td>{{survey.sid}}</td>
                    <td>{{survey.surveyls_title}}</td>
                    <td>{{survey.start_date}}</td>
                    <td>{{survey.expires}}</td>
                    <td>{{survey.active}}</td>
                </tr>
            </tbody>
        </table>


</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {

            }
        },
        created() {

        },

        props: [
            'allSurveys'
        ],
        methods: {


        },

        mounted() {
        },
    }
</script>
