<template>
    <div>
        <!--<button class="trigger-custom btn  btn-flat bordered-button button-transparent "-->
                <!--@click="donorAdditionDialogVisible = true"><i-->
                <!--class="fa fa-plus"></i> Add Donor-->
        <!--</button>-->

        <!-- Message. Default to the left -->
        <div v-for="message in thread" class="direct-chat-msg" :class="message.type=='sent'?'right':''">
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">{{message.sender.first_name}} {{message.sender.last_name}}</span>
                <span class="direct-chat-timestamp pull-right">{{message.created_at}}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img class="direct-chat-img" src="/images/avatar.png" alt="message user image">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
                {{message.message}}
            </div>
            <!-- /.direct-chat-text -->
        </div>
        <!-- /.direct-chat-msg -->

        <!-- Message to the right -->
<br>

        <div>
            <div class="input-group">
                <input name="message" placeholder="Type Message ..." v-model="text" class="form-control" type="text">
                <span class="input-group-btn">
                        <button @click="sendMessage" class="btn btn-primary button-red">Send</button>
                      </span>
            </div>
        </div>







    </div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    import moment from 'moment'
    import vue2Dropzone from 'vue2-dropzone'
    import 'vue2-dropzone/dist/vue2Dropzone.css'
    export default {

        data(){
            return {
                text:'',
                thread:this.messages
            }
        },
        created() {

        },

        props: [
            'messages', 'chatRoute'
        ],
        methods: {
            sendMessage:function () {
                console.log(this.text);
                var _this=this;
                _this.setLoading('on');
                axios.post(this.chatRoute, {'message':this.text}).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status == 'success') {
                        _this.thread.push(response.data.message);
                        _this.text='';
                        toastr.info('Message successfully sent');
                    }
                }).catch(function (error) {
                    console.log(error);
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })
            },
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
