

/*font-family: 'Raleway', sans-serif;*/

/*font-family: 'Quicksand', sans-serif;*/

/*font-family: 'Poiret One', cursive;*/

/*font-family: 'Julius Sans One', sans-serif;*/


/*Font Faces*/

@font-face {
    font-family: 'Julius Sans One';
    src: url('../fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf');
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Light.ttf');
}
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Light.ttf');
}
@font-face {
    font-family: 'Poiret One';
    src: url('../fonts/Poiret_One/PoiretOne-Regular.ttf');
}
ul{
    list-style: none;
}
/*General*/

.shadowDepth1 {
    box-shadow: 0 1px 3px rgba(0,0,0, .12),
    0 1px 2px rgba(0,0,0, .24) !important;
}
input:focus, textarea:focus, select:focus {
    border-color: #F44336!important;
}
.transition-box {
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
    border-radius: 4px;
    background-color: #409EFF;
    text-align: center;
    color: #fff;
    padding: 40px 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

.shadowDepth2 {
    box-shadow: 0 3px 6px rgba(0,0,0, .16),
    0 3px 6px rgba(0,0,0, .23)!important ;
}

.shadowDepth3 {
    box-shadow: 0 10px 20px rgba(0,0,0, .19),
    0 6px 6px rgba(0,0,0, .23) !important;
}
input, select, textarea{
    border-radius: 0px!important;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}
.icon-append{
    right: 90px;
    margin-top: -19px;
}

.dirty{
    border-color: red!important;
}
.dirty input{
    border-color: red!important;
}
.dirty *{
    border-color: red!important;
}


.pending-status-open{
    border-color: orange!important;
    color: orange!important;
    background:transparent!important;
}
.pending-status-closed{
    border-color: orange!important;
    background-color: orange!important;
    color: white!important;
}


/*Vue Slide Transitions*/

.slide-leave-active,
.slide-enter-active {
    transition: 1s;
}
.slide-enter {
    -ms-transform: translate(-50%,0);
    -webkit-transform: translate(-50%,0);
    transform:translate(-50%,0);
}
.slide-leave-to {
    -ms-transform:translate(100%, 0);
    -webkit-transform: translate(100%, 0);
    transform:translate(100%, 0);
}

/*Vue dialog styling*/
.el-dialog{
    transition: margin-top .3s ease,height .3s ease;
    border-radius: 3px!important;
    padding-bottom: 30px;

}
.el-button{
    margin:0px!important;
    padding:15px!important;
}
.el-button--default{
    color: white!important;
    margin: 0!important;
    border: 0!important;
    cursor: pointer!important;
    width: 50%!important;
    float: left!important;
    border-radius: 3px 0 0 3px!important;
    background: #aaa!important;
}
.el-button--primary{
    background: #F44336!important;
    color: white!important;
    margin: 0!important;
    border: 0!important;
    cursor: pointer!important;
    width: 50%!important;
    float: left!important;
    border-radius: 0 3px 3px 0!important;
}
.el-dialog__headerbtn{
    background: #FFF!important;
    margin-bottom: 10px!important;
    position: absolute!important;
    right: -8px!important;
    top: -8px!important;
    font-size: 14px!important;
    font-weight: bold!important;
    border-radius: 50%!important;
    width: 30px!important;
    height: 30px!important;
    border: 0!important;
    color: #a9a9a9!important;
    cursor: pointer!important;
}
.el-dialog__header {
    border-top: 10px solid #eee;
    border-radius: 3px;
}
.el-dialog__footer {
    margin-bottom:50px;
}



/*Yajra DataTables*/
.dataTables_wrapper *{

    font-family: 'Quicksand', Sans-Serif;
}
/*Loading Spinner*/
.spinner {
    width: 60px;
    height: 60px;

    position: relative;
    margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}
.bounce-enter-active {
    animation: bounce-in .5s;
}
.bounce-leave-active {
    animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}


/*===============
Welcome Page
================*/

.delay{
    -webkit-transition-delay: 10s; /* Safari */
    transition-delay: 10s;
}
body{
    font-family: 'Raleway', sans-serif!important;
    font-weight: 400;
    background-color: #ecf0f5!important;
}
.navbar-custom-menu a{
    color: black!important;
}

/*Registration*/
/*Top bar side menu fab*/

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
    background-color:white!important;
    color: slategray!important;
    width:40px;
    height:40px;
    margin-left: 20px;
    margin-top: 10px;
    outline:none!important;
    border-radius:100%;
    border:none;
    font-size:36px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.05);
    transition:.3s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}
.menu-open-button:focus{
    text-decoration: none;
}
.menu-open-button::-moz-focus-inner {
    border:0!important;
}

.menu-open-button:hover {
    background-color:white!important;
    transform:scale(1.1);
    text-decoration: none;
    transform:rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);

}
a:hover{
    outline: none!important;
    text-decoration: none!important;
}
a:active{
    outline: none!important;
    text-decoration: none!important;
}
. li{
    background-color: black!important;
}
a{
    outline: none!important;
    text-decoration: none!important;
}

/* Sidebar*/
.sidebar-menu > li.active > a{
    background-color: white!important;
    border-radius: 3px!important;
    margin: 10px;
    border: none!important;
    outline:none!important;
}
.treeview-menu{
    margin: 10px!important;
    background: transparent!important;
}
.treeview-menu a{
    color: white!important;
}
.sidebar-menu > li > a::-moz-focus-inner {
    outline:none!important;
}
.sidebar-menu .fa-angle-up{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;

}

.sidebar-menu > li > a::-moz-focus-inner {
    border:0!important;
}
.sidebar-menu > li > a:hover{
    background-color: rgb(39.2, 38.8, 38.8, 0.3)!important;
    border-radius: 3px!important;
    margin: 10px;
    border: none!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar{
    width: 83px!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu > li>a:hover  span{
    display:none!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu > li{
    margin-right: 20px;
    margin-left: 10px;

}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu > li:hover  span{
    display:none!important;
}
.sidebar-mini.sidebar-collapse .main-sidebar .sidebar-menu > li.active:hover  span{
    display:none!important;
}

.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer{
    margin-left: 83px!important;
}
.sidebar-mini.sidebar-collapse .main-header .navbar{
    margin-left: 83px!important;
}
.sidebar-form input{
    background-color: #e4e4e4!important;
}
.sidebar-form input:focus{
    background-color: white!important;
}

tbody, thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.sidebar-form button{
    background-color: #d0d2d0!important;
}
.sidebar-menu >li >a{
    color: black!important;
}


.sidebar-overlay:before{
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    /*background-color: rgba(62, 85.1, 22.4,0.8);*/



    background: rgb(244,67,54,1);
    background: -moz-linear-gradient(top, rgb(244,67,54,1) 0%, rgb(244,67,54,0.79) 61%, rgb(244,67,54,0.73) 78%, rgb(244,67,54,0.66) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(244,67,54,1)), color-stop(61%, rgb(244,67,54,0.79)), color-stop(78%, rgb(244,67,54,0.73)), color-stop(100%, rgb(244,67,54,0.66)));
    background: -webkit-linear-gradient(top, rgb(244,67,54,1) 0%, rgb(244,67,54,0.79) 61%, rgb(244,67,54,0.73) 78%, rgb(244,67,54,0.66) 100%);
    background: -o-linear-gradient(top, rgb(244,67,54,1) 0%, rgb(244,67,54,0.79) 61%, rgb(244,67,54,0.73) 78%, rgb(244,67,54,0.66) 100%);
    background: -ms-linear-gradient(top, rgb(244,67,54,1) 0%, rgb(244,67,54,0.79) 61%, rgb(244,67,54,0.73) 78%, rgb(244,67,54,0.66) 100%);
    background: linear-gradient(to bottom, rgb(244,67,54,1) 0%, rgb(244,67,54,0.79) 61%, rgb(244,67,54,0.73) 78%, rgb(244,67,54,0.66) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F44336', endColorstr='#F44336', GradientType=0 );



}
#map {
    height: 400px;
    width: 100%;
}








/*=================================
========Admin Module=======
===================================*/

/*General*/

a {
    color: #F44336!important;
    font-family: 'Raleway', cursive;
}
.dz-preview{
    height: 250px;
    width: 200px;
}

.no-border{
    border:none!important;
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
}
.light-font{
    font-weight: 400!important;
}
.action-button{
    width: 40%!important;
    border: 1px solid #F44336!important;
    border-radius: 3px!important;
    color: #F44336!important;

}
.button-green{
    background-color:#F44336!important;
    border: 1px solid #F44336!important;
    color: white;

}
.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wobble-timed {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.box-overlay{
    width: 40%!important;
    margin-left: 10px!important;
    margin-top: -40px;
    height: 70px;
    padding: 30px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 14px #b5b5b5;
    -moz-box-shadow: 0 0 14px #b5b5b5;
    box-shadow: 0 0 14px #b5b5b5;
}
.dashboard-card-stat{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 600
}
.topbar-form{
    overflow: hidden;
    text-overflow: clip;
    border-radius: 3px;
    margin: 10px 10px;


}
.box-header{
    height: 50px!important;
}
.box-title-wrapper{
    text-align: center
}

/*Reverse Geolocation*/
#reverse_geolocation{
    position: absolute;
    z-index: 100;
    top:500px;
}

.topbar-form input{
    border: none!important;
}

/*Autocomplete*/
.autocomplete-list ul{
    width:93%;
    border:1px solid darkgray;
}
/*Calendar*/
.fc-center h2{
    font-size: 25px!important;
}
.fc-title{
    color:white!important;
}
.fc-event-container{
    cursor: pointer;
}
/*Control Sidebar*/
.bg-red{
    background-color:#F44336!important ;
}
/*Organizations*/
.box-red{
    border-top:3px solid #F44336!important;
}
.button-red{
    background-color:#F44336!important;
    border: 1px solid #F44336!important;
    color: white!important;
}
.link-red{
    background-color:#F44336!important;
    border: 1px solid #F44336!important;
    color:white !important;
}
.button-gray{
    background-color:transparent!important;
    border: 1px solid darkgrey!important;
    color:dimgrey !important;
}
.button-transparent{
    background-color:transparent!important;
    border: 1px solid #F44336!important;
    color: #F44336!important;

}
.bordered-button{
    border: 1px solid #F44336!important;
    border-radius: 0px!important;
    margin-bottom: 10px!important;
}
.bordered-button-red{
    border: 1px solid red!important;
    border-radius: 0px!important;
    background-color:transparent!important;
    color: red!important;
    margin-bottom: 10px!important;
}
@-webkit-keyframes a {
    0% {
        opacity: 0;
        transform: scale(.9) translateY(-20px) perspective(600px) rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0) perspective(600px) rotateX(0);
    }
}
@keyframes a {
    0% {
        opacity: 0;
        transform: scale(.9) translateY(-20px) perspective(600px) rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0) perspective(600px) rotateX(0);
    }
}
@-webkit-keyframes b {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(.9);
    }
}
@keyframes b {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(.9);
    }
}
@-webkit-keyframes c {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes c {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes d {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes d {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: translateX(50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes e {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@-webkit-keyframes f {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0) translateY(-40px);
        -webkit-transform-origin: center top;
    }
}
@keyframes f {
    0% {
        opacity: 0;
        transform: scaleY(0) translateY(-40px);
        transform-origin: center top;
    }
}
@-webkit-keyframes g {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, 1);
    }
}
@keyframes g {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, 1);
    }
}
@-webkit-keyframes h {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes h {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }
    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes i {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }
}
@keyframes i {
    20% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }
}
@-webkit-keyframes j {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes j {
    0%, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 1000px, 0);
        transform: translate3d(0, 1000px, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@-webkit-keyframes k {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0);
        transform: translate3d(0, -2000px, 0);
    }
}
@keyframes k {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -1000px, 0);
        transform: translate3d(0, -1000px, 0);
    }
}
@-webkit-keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes m {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}
@keyframes m {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
}
@-webkit-keyframes n {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes n {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100px, 0);
        transform: translate3d(0, 100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes o {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}
@keyframes o {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100px, 0);
        transform: translate3d(0, -100px, 0);
    }
}
@-webkit-keyframes p {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes p {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes q {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
}
@keyframes q {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(-200px, 0, 0);
        transform: translate3d(-200px, 0, 0);
    }
}
@-webkit-keyframes r {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200px, 0, 0);
        transform: translate3d(200px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes r {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(200px, 0, 0);
        transform: translate3d(200px, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes s {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(200px, 0, 0);
        transform: translate3d(200px, 0, 0);
    }
}
@keyframes s {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(200px, 0, 0);
        transform: translate3d(200px, 0, 0);
    }
}
@-webkit-keyframes t {
    0% {
        -webkit-transform: perspective(400px) rotateX(60deg);
        opacity: 0;
    }
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    to {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@keyframes t {
    0% {
        transform: perspective(400px) rotateX(60deg);
        opacity: 0;
    }
    40% {
        transform: perspective(400px) rotateX(-10deg);
    }
    70% {
        transform: perspective(400px) rotateX(10deg);
    }
    to {
        transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-webkit-keyframes u {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    30% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        opacity: 1;
    }
    to {
        -webkit-transform: perspective(400px) rotateX(40deg);
        transform: perspective(400px) rotateX(40deg);
        opacity: 0;
    }
}
@keyframes u {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
    30% {
        -webkit-transform: perspective(400px) rotateX(-20deg);
        transform: perspective(400px) rotateX(-20deg);
        opacity: 1;
    }
    to {
        -webkit-transform: perspective(400px) rotateX(40deg);
        transform: perspective(400px) rotateX(40deg);
        opacity: 0;
    }
}

.hide {
    display: none;
}





@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.wobble-timed {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-iteration-count: 6;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


.task-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding:15px;
}

.border-less tr{
    line-height: 0px;
}

/* On mouse-over, add a deeper shadow */
.task-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



