<template>
    <div>

            <fieldset style="padding: 30px; margin-bottom: 40px">
                <div class="row">
                <div class="form-group required col-sm-6 col-md-6">
                    <label class="control-label" for="donation_name">Donor Name (Autocomplete)</label>
                    <autocomplete id="donation_name" style="width:100%"
                                  :classes="{input:'form-control'}"
                                  v-model="donorDetails"
                                  :url="donorSearchUrl"
                                  :onSelect="donationSelected"
                                  anchor="first_name"
                                  label="last_name">
                    </autocomplete>

                </div>
                    <div class="form-group required col-sm-6 col-md-6 ">
                        <label class="control-label" for="donation_blood_group">Blood group</label>
                        <select  required v-model="donation.blood_group" class="form-control" id="donation_blood_group"

                        >
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="donation_center">Donation Center</label>
                        <select  required v-model="donation.center" class="form-control" id="donation_center">
                            <option v-for="donationCenter in donationCenters" :value="donationCenter.id">{{donationCenter.name}}</option>
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group required col-sm-12  col-md-12">
                        <label class="control-label" for="donation_date">Date</label>
                        <el-date-picker   style="width:100%"
                                          v-model="donation.date"
                                          type="date"
                                          placeholder="Pick a Date">
                        </el-date-picker>
                    </div>
                </div>



            </fieldset>
    <div class="row " style="text-align: center; margin-bottom: 50px;">
        <button class="btn btn-flat button-green" @click="addDonation" style="width: 40%">Save</button>
    </div>
</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    import Autocomplete from 'vue2-autocomplete-js';
    export default {
        components: { Autocomplete },
        data(){
            return {
                donation:{
                    'user_id':'',
                    'blood_group':'',
                    'date':'',
                    'center':'',
                },
                donorDetails:''

            }
        },
        created() {

        },

        props: [
            'donorSearchUrl', 'donationCenters'
        ],
        methods: {
            donationSelected: function (value) {
                this.donation.user_id = value.id;
            },

            addDonation: function () {
               var _this=this;
                this.setLoading('on');
                axios.post(window.location.href, this.donation).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status=='success'){
                        toastr.info('Donation successfully recorded');
                        _this.donation={
                            'user_id':'',
                            'blood_group':'',
                            'date':'',
                            'center':'',
                        };
                        _this.donorDetails=''
                    }
                }).catch(function (error) {
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })



            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
