<template>
    <div>

            <fieldset style="padding: 30px; margin-bottom: 40px">
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="broadcast_blood_group">Blood group</label>
                        <select  required v-model="broadcast.blood_group" class="form-control" id="broadcast_blood_group"

                        >
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="broadcast_center">Donation Center</label>
                        <select  required v-model="broadcast.center" class="form-control" id="broadcast_center">
                            <option v-for="broadcastCenter in broadcastCenters" :value="broadcastCenter.id">{{broadcastCenter.name}}</option>
                        </select>

                    </div>
                </div>
                <div class="row">
                    <div class="form-group required col-sm-12 col-md-12">
                        <label class="control-label" for="broadcast_center">Broadcast Type</label>
                        <select  required v-model="broadcast.type" class="form-control" id="broadcast_center">
                            <option value="APB">Broadcast To All Donors</option>
                            <option value="Nearby">Broadcast To Donors near the Donation Center</option>
                        </select>

                    </div>
                </div>
                



            </fieldset>
    <div class="row " style="text-align: center; margin-bottom: 50px;">
        <button class="btn btn-flat button-green" @click="sendBroadcast" style="width: 40%">Send Broadcast</button>
    </div>
</div>

</template>

<script>
    import toastr from 'toastr';
    import axios from 'axios';
    export default {
        data(){
            return {
                broadcast:{
                    'type':'',
                    'blood_group':'',
                    'center':'',
                },

            }
        },
        created() {

        },

        props: [
            'donationCenters'
        ],
        methods: {


            sendBroadcast: function () {
               var _this=this;
                this.setLoading('on');
                axios.post(window.location.href, this.broadcast).then(function (response) {
                    _this.setLoading('off');
                    if (response.data.status=='success'){
                        toastr.info('Broadcast has been sent out');
                        _this.broadcast={
                            'type':'',
                            'blood_group':'',
                            'center':'',
                        };
                    }
                }).catch(function (error) {
                    _this.setLoading('off');
                    toastr.error("Oops! Something went wrong. Please try again");
                })



            },
          
            
            setLoading: function (value) {
                if (value == 'on') {
                    document.getElementById('loading_spinner').style.display = 'flex'
                }
                else if (value == 'off') {
                    document.getElementById('loading_spinner').style.display = 'none'
                }

            },


        },

        mounted() {
        },
    }
</script>
